@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="/Content/down.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/new.css" media="all" />
}
<!--new-detailed-star-->
<div class="news-title">
    <div class="title-txt"><img src="/images/Contact-us-title.png" /></div>
</div>
<div class="new-detailde-box">
    <div class="new-detailde-txt">

        <div class="new-detailde-Content">
            <p class="Customer-service-txt">
                澳众棋牌客服中心全年无休，提供1周7天、每天24小时的优质服务  
                <b>公司地址： 北京天思宏讯科技有限公司 北京市朝阳区东四环南路53号林达海渔广场2号楼603
</b>
                <br />
                <b>公司电话：010-52914988</b>
                <br />

            </p>
        </div>
    </div>
</div>
<div class="new-bottom"><img src="/images/new-bottom.png" /></div>

<!--new-detailed-end-->