@{
    Layout = null;
}
@*<script>
    $(document).ready(
        function () {
            //var location = parent.document.location.toString();
            //var tagArray = ["Index", "UserCenter", "DownLoad", "GameBulletin", "ActivityCenter", "News", "Contact"];
            //var isr = false;
            //for (var i = 0; i < tagArray.length; i++) {
            //    if (location.indexOf(tagArray[i]) > 0) {
            //        $("#webNav_" + tagArray[i]).addClass("choose_home").removeClass("choose_center");
            //        isr = true;
            //        break;
            //    }
            //}

            //if (!isr) {
            //    $("#webNav_Index").addClass("choose_home").removeClass("choose_center");
            //}
        }
    );
</script>*@


<div class="nav-back">
    <div class="nav-center">
        <div class="nav-down"><a href="/"><img src="/images/new/nav_03.png" /></a></div>

        <div class="nav-down"><a href="/UserCenter/Center"><img src="/images/new/nav_04.png" /></a> </div>

        <div class="nav-down"><a href="/DownLoad/dl"><img src="/images/new/nav_05.png" /></a> </div>

      
        <div class="nav-down"><a href="/Agreement"><img src="/images/new/nav_06.png" /></a> </div>

        <div class="nav-down"><a href="/ActivityCenter"><img src="/images/new/nav_07.png" /></a></div>

        <div class="nav-down"><a href="/Spread"><img src="/images/new/nav_08.png" /></a></div>
    </div>
</div>
<div class="logo"><img src="/images/new/logo.png" width="400px"></div>
    
<script>
    $(function(){
        var width = $("body").width() / 2  - $(".logo").width()/2;

        $(".logo").attr("style","left:"+width + "px !important");
    })
</script>