@{
    Layout = null;
}
@*<script>
    $(document).ready(
        function () {
            //var location = parent.document.location.toString();
            //var tagArray = ["Index", "UserCenter", "DownLoad", "GameBulletin", "ActivityCenter", "News", "Contact"];
            //var isr = false;
            //for (var i = 0; i < tagArray.length; i++) {
            //    if (location.indexOf(tagArray[i]) > 0) {
            //        $("#webNav_" + tagArray[i]).addClass("choose_home").removeClass("choose_center");
            //        isr = true;
            //        break;
            //    }
            //}

            //if (!isr) {
            //    $("#webNav_Index").addClass("choose_home").removeClass("choose_center");
            //}
        }
    );
</script>*@


<div class="nav-back">
    <div class="nav-left"></div>
    <div class="nav-shouye"><a href="/">首页</a></div>
    <div class="nav-gr"><a href="/UserCenter/Center">个人中心</a></div>
    <div class="nav-down"><a href="/DownLoad/dl">下载中心</a></div>
    <div class="logo"><img src="/images/logo.png"></div>
    <div class="nav-js"><a href="/Agreement">常见问题</a></div>
    <div class="nav-hd"><a href="/ActivityCenter">活动中心</a></div>
    <div class="nav-new"><a href="/Spread">招募代理</a></div>
</div>