@{
    ViewBag.Title = "用户设置新密码";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}
@section scripts{
    <script type="text/javascript">
        var CheckStrongPass = function (obj) {
            var password = $(obj).val();
            var strength = "";
            if (password.length >= 10) {
                if (password.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~!@@#$%^&*_?])/)) {
                    strength = 3;
                } else if (password.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])|(?=.*[~!@@#$%^&*_?])/)) {
                    strength = 2;
                } else if (password.match(/(?=.*\d)(?=.*[a-z])/)) {
                    strength = 1;
                }
            } else if (password.length >= 6) {
                if (password.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])|(?=.*[~!@@#$%^&*_?])/)) {
                    strength = 2;
                } else if (password.match(/(?=.*\d)(?=.*[a-z])|(?=.*[A-Z])/)) {
                    strength = 1;
                }
            }
            strength = strength + ".png";
            $("#meter-box_" + obj.id).attr("src", "/images/mima" + strength)

        }
        function F_SubmitForm() {
            var username = $("#f_account").val();
            var captcha = $("#f_captcha").val();
            var password = $("#password").val();
            var password1 = $("#password1").val();

            var reg = /^[a-zA-Z0-9_]{6,16}$/;
            if (!reg.test(username)) {
                alert("请输入正确的会员账号，会员账号由字母、数字、下划线组成！");
                return false;
            }
            if (captcha.length != 4) {
                alert("请输入验证码！");
                return false;
            }
            if (password == "" || password.length < 6) {
                alert("请输入密码，至少6位！");
                return false;

            }
            if (password != password1) {
                alert("两次输入的密码不一致");
                return false;

            }
            $.ajax({
                type: "POST",
                url: "/Register/ForgetPasswordSave",
                data: { "forget_username": username, "forget_captcha": captcha,"pass1":password,"pass2":password1,"vk":$("#vk").val() },
                dataType: "json",
                success: function (data) {
                    if (data.Status == 1) {
                        alert("密码更改成功");
                        window.location.href = "/";
                        
                    }
                    else {
                        alert(data.Message);

                    }
                }
            });
        }

    </script>
}
@section styles{
    <link href="/content/login.css" rel="stylesheet" type="text/css" media="all">
}


<!---contact-right开始-->
<div class="down_right_box">
    <div class="down_right_top">
        <div class="down_right_weizhi">当前所在位置>>用户设置新密码</div>
    </div>
    <!---center开始-->
    <div class="down_center_box">
        <div class="login-kong"></div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
                      <br />
                    <div class="u_error"> @ViewBag.ErrorMessage</div>
                     <br />

        }
        else
        {
         <!--注册开始-->
        <div class="login-zhuce-zhanghao">设置新密码</div>
           <div class="login-set-box">
                <!--login1-->
                <div class="login-zc-tjr-box-1">
                    <div class="login-zc-txt"><font class="hongxing">*&nbsp;</font>会员账号：</div>
                    <div><input name="login[username]" id="f_account" type="text" class="kd" maxlength="16" /></div>
                </div>
                <div class="login-shuoming">请输入您的会员账号</div>
                <!--login1-->
                <div class="login-zc-tjr-box-2">
                    <div class="login-zc-txt"><font class="hongxing">*&nbsp;</font>登录密码：</div>
                    <div><input onkeyup="CheckStrongPass(this)" name="login_pwd" id="password" type="password" class="kd" /><img id="meter-box_password" src="/images/mima.png" /></div>
                </div>
                <div class="login-shuoming"></div>
                <!--login2-->
                <!--login3-->
                <div class="login-zc-tjr-box-2">
                    <div class="login-zc-txt"><font class="hongxing">*&nbsp;</font>确认密码：</div>
                    <div><input name="login_pwd2" id="password1" type="password" class="kd" /></div>
                </div>
                <div class="login-shuoming"></div>

                <!--login3-->
                <div class="login-zc-tjr-box-2" id="u_captchadiv">
                    <div class="login-zc-txt"><font class="hongxing">*&nbsp;</font>验证码：</div>
                    <div>

                        <div style="height: 25px; width:55px; float: left; padding-top: 3px; color: #FFC;"><input name="captcha[user_login]" id="f_captcha" type="text" maxlength="4" class="kd width50" /></div>
                        <div style="height:25px; width:150px; float:left; padding-top:3px;">&nbsp;<img id="u_login_captcha_img" style="width:60px;height:28px; vertical-align:middle;" src="/VerificationCode/VerifCodeImg" /><input type="hidden" name="vk" id="vk" value="@ViewBag.EncodeString" /><a href="javascript:void(0);" class="goldcolor" onclick="$('#u_login_captcha_img').attr('src', '/VerificationCode/VerifCodeImg?' + Math.random())">看不清?</a></div>

                    </div>
                </div>                <!--login3-->
            </div>
        <!--协议开始-->
            <div class="login-xieyi-box">
                <div class="login-xieyi-zhuce"><a href="javascript:void(0);" onclick="F_SubmitForm();"><img src="/images/login-Click-OK.png" /></a></div>
            </div>
        <!--协议结束-->
        }
    </div>
    <!---center-right开始-->
    <!----foot开始-->
    <div class="contact_foot_back"></div>
    <!----foot结束-->
</div>


<!---contact-right结束-->
