@{
    ViewBag.Title = "用户找回密码";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}
@section scripts{
    <script type="text/javascript">
        function F_SubmitForm() {
            var username = $("#f_account").val();
            var captcha = $("#f_captcha").val();
            var reg = /^[a-zA-Z0-9_]{6,16}$/;
            if (!reg.test(username)) {
                alert("请输入正确的会员账号，会员账号由字母、数字、下划线组成！");
                return false;
            }
            if (captcha.length != 4) {
                alert("请输入验证码！");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/Register/GetPassWord",
                data: { "forget_username": username, "forget_captcha": captcha },
                dataType: "json",
                success: function (data) {
                    if (data.State == 1) {
                        alert('邮件发送成功')
                    }
                    else {
                        alert(data.Message);
                        
                    }
                }
            });
        }
        function F_ResetForm() {
            $("#u_loginForm")[0].reset();

        }

    </script>
}
@section styles{
    <link href="/content/login.css" rel="stylesheet" type="text/css" media="all">
}


<!---contact-right开始-->
<div class="down_right_box">
    <div class="down_right_top">
        <div class="down_right_weizhi">当前所在位置>>用户找回密码</div>
    </div>
    <!---center开始-->
    <div class="down_center_box">
        <div class="login-kong"></div>
            <!--注册开始-->
            <div class="login-zhuce-zhanghao">找回密码</div>
            <div class="login-retrieve-box">
                <!--login1-->
                <div class="login-zc-tjr-box-1">
                    <div class="login-zc-txt"><font class="hongxing">*&nbsp;</font>会员账号：</div>
                    <div><input name="login[username]" id="f_account" type="text" class="kd" maxlength="16" /></div>
                </div>
                <div class="login-shuoming">请输入您的会员账号</div>
                <!--login1-->
                <!--login3-->
                <div class="login-zc-tjr-box-2" id="u_captchadiv">
                    <div class="login-zc-txt"><font class="hongxing">*&nbsp;</font>验证码：</div>
                    <div>

                        <div style="height: 25px; width:55px; float: left; padding-top: 3px; color: #FFC;"><input name="captcha[user_login]" id="f_captcha" type="text" maxlength="4" class="kd width50" /></div>
                        <div style="height:25px; width:150px; float:left; padding-top:3px;">&nbsp;<img id="u_login_captcha_img" style="width:60px;height:28px; vertical-align:middle;" src="/VerificationCode/VerifCodeImg" /><a href="javascript:void(0);" class="goldcolor" onclick="$('#u_login_captcha_img').attr('src', '/VerificationCode/VerifCodeImg?' + Math.random())">看不清?</a></div>

                    </div>
                </div>                <!--login3-->
            </div>
            <!--协议开始-->
            <div class="login-xieyi-box">
                <div class="login-xieyi-zhuce"><a href="javascript:void(0);" onclick="F_SubmitForm();"><img src="/images/login-Retrieve-password.png" /></a></div>
            </div>
            <!--协议结束-->
    </div>
    <!---center-right开始-->
    <!----foot开始-->
    <div class="contact_foot_back"></div>
    <!----foot结束-->
</div>


<!---contact-right结束-->
