@{
    ViewBag.Title = "下载中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
}
@section scripts{
}
<!--box开始-->
<div class="box">
    <!--banner-开始-->
    <div class="banner2">
        @Html.Partial("_Nav")
        <!--fast-denglu-star-->
        <div class="fast-denglu-box">
            <a target="_blank" href="../DownLoad/澳众棋牌.exe"><div class="downa"><img src="/images/new/down_03.png"/></div></a>
            <a target="_blank" href=http://fir.im/4l27><div class="downa"><img src="/images/new/down_05.png"/></div></a>
            <a target="_blank" href="http://fir.im/wtcd"><div class="downa"><img src="/images/new/down_08.png"/></div></a>
            
        </div>
        <!--fast-denglu-end-->

    </div>
    <!--banner-结束-->
</div>
<!--box-结束-->
<!--平台推荐-开始-->
<div class="platform-box">
    <div class="platform-title"><img src="/images/new/ddd.png" /></div>
    <div class="platform-game-box">
        <!--<div class="platform-ddz"><a href="#"><img src="/images/ddz.png" /></a></div>
        <div class="platform-zjh"><a href="#"><img src="/images/zjh.png" /></a></div>
        <div class="platform-zjh"><a href="#"><img src="/images/bjl.png" /></a></div>
        <div class="platform-zjh"><a href="#"><img src="/images/jcby.png" /></a></div>-->
        <div class="platform-zjh"><a href="/Register"><img src="/images/new/d1.png" /></a></div>
        <div class="platform-zjh"><a href="/ActivityCenter/RechargeAward"><img src="/images/new/d2.png" /></a></div>
        <div class="platform-zjh"><a href="/ActivityCenter/ShowAwards"><img src="/images/new/d3.png" /></a></div>

    </div>
  
</div>

<!--平台推荐-结束-->
<!--广告 开始-->
<div class="platform-box2">  <img src="/images/new/gg.png" /></div>
<!--广告 结束-->


 <!--<div class="down-load">
        <div class="pc-box">
            <div class="pc-1"><img src="/images/pc-1.png" /></div>
            <div class="pc-botton"><a target="_blank" href="../DownLoad/澳众棋牌.exe"><img src="/images/pc-button.png" /></a></div>
        </div>
        
        <div class="pc-box-2">
            <div class="pc-1"><img src="/images/an-down.png" /></div>
            <div class="pc-botton"><a target="_blank" href=http://fir.im/4l27><img src="/images/an-botton.png" /></a></div>
        </div>
        <div class="pc-box-2">
            <div class="pc-1"><img src="/images/phone-down.png" /></div>
            <div class="pc-botton"><a target="_blank" href="http://fir.im/wtcd"><img src="/images/phone-button.png" /></a></div>
        </div>
    </div>-->