@{
    ViewBag.Title = "常见问题";
Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/down.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/new.css" media="all" />
}



<!--new-detailed-star-->
<div class="news-title">
    <div class="title-txt"><img src="/images/wenti.png" /></div>
</div>
<div class="new-detailde-box">
    <div class="new-detailde-txt">

        <div class="new-detailde-Content">
<p style='text-align:center;font-weight:bold;font-size:18px;'></p>
            <p class="Customer-service-txt" style='text-indent: 0px;'>
              
              
                1. 如何进入游戏</br>
               您好，请先注册成为澳众棋牌会员，注册完毕下载游戏。
                <br /><br />
                 2.开户是否要填写真实姓名</br>
                您好，基于安全理由，所以请您在注册时填写的姓名必须为真实姓名。
                <br /><br />
                
                 3. 可以注册多个账号吗</br>
               您好，为给平台一个公平的游戏环境，一个真实姓名最多只能注册一个游戏账号。
               <br /><br />
              4. 逃跑与网络中断说明，支持断线重连</br>
                  玩家如果在已经开始游戏情况下，逃跑或者自身问题断线，电脑会按照系统的托管规则进行托管出牌，重新登陆即可断线重连，如果由于服务器网络原因造成游戏中断，本局游戏将自动取消，输赢结果无效。
                <br />
            <br />
<br /><br /><br />
           </p>
        </div>
    </div>
</div>
<div class="new-bottom"><img src="/images/new-bottom.png" /></div>

<!--new-detailed-end-->
