@charset "utf-8";
/* CSS Document */
img { border:0 } 
a {text-transform:none;text-decoration:none;}
*{padding:0px; margin:0px;}
body{background-color:#2d1d1d;}
.box{width:100%; height:461px; background-color:#332221;}
.banner{width:994px; height:461px; background-image:url(/images/banner.png); margin: 0px auto; background-repeat:no-repeat;}
/*导航-开始*/
.nav-back{width:952px; height:109px; margin: 0px auto; background-image:url(/images/nv-back.png);}
.nav-left{width:46px; height:109px; float:left;}
.nav-shouye a{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold;background-image:url(/images/nv-back-1.png);}
.nav-shouye a:hover{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; background-image:url(/images/nv-back-1.png);}

.nav-gr a{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px; }
.nav-gr a:hover{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px;background-image:url(/images/nv-back-1.png); }


.nav-down a{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px; }
.nav-down a:hover{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px;background-image:url(/images/nv-back-1.png); }

.logo{width:325px; height:109px; float:left; margin-left:15px;}

.nav-js a{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px; }
.nav-js a:hover{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px;background-image:url(/images/nv-back-1.png); }


.nav-hd a{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px; }
.nav-hd a:hover{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px;background-image:url(/images/nv-back-1.png); }

.nav-new a{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px; }
.nav-new a:hover{width:88px; height:109px; font-size:16px;font-family: "Microsoft YaHei"!important; float:left; color:#fcd071; text-align:center; line-height:98px; font-weight:bold; margin-left:3px;background-image:url(/images/nv-back-1.png); }

/*导航-结束*/
/*快速通道-开始*/
.fast-denglu-box{width:953px; height:314px; margin: 0px auto;  margin-top:15px;}
.fast-back{width:224px; height:314px; background-image:url(/images/denglu-back.png); float:left;}
.fast-title{width:155px; height:35px; margin: 0px auto;}
.fast-gr{width:98px; height:22px; margin: 0px auto; margin-top:15px;}
.fast-kf{width:98px; height:22px; margin: 0px auto; margin-top:5px; }
.fast-down{width:186px; height:65px; margin: 0px auto; margin-top:10px;}
/*快速通道-结束*/
/*登录-开始*/
.denglu-back{width:224px; height:314px; background-image:url(/images/denglu-back.png); float:right;}
.denglu-input-box{width:194px; height:34px; margin: 0px auto; margin-top:17px;border:0px;}
.denglu-input{width:194px; height:34px; background-image:url(/images/in-back.png);  border:0px; color:#826844; line-height:34px;}
.denglu-pt{width:186px; height:65px; margin: 0px auto; margin-top:15px;}
/*登录-结束*/
/*平台推荐-开始*/
.platform-box{width:990px; height:259px; margin: 0px auto; background-image:url(/images/platfrom-bttom_01.png); background-repeat:no-repeat; background-position:bottom;}
.platform-title{width:990px; height:68px;}
.platform-game-box{width:888px; height:152px; margin: 0px auto;}
.platform-ddz{width:168px; height:152px; float:left;}
.platform-zjh{width:168px; height:152px; float:left; margin-left:68px;}
.platform-bottm{width:990px; height:49px;}
/*平台推荐-结束*
/*bottm-star*/
.bottm-box{width:990px; height:141px; margin: 0px auto; margin-top:-2px;}
.bottm-title{width:986px; height:43px; background-image:url(/images/bottm-nav.png);}
.bottm-nav{width:550px; height:43px; text-align:center; line-height:43px; color:#e0cb97; margin: 0px auto; font-size:13px;}
.bottm-nav a{width:550px; height:43px; text-align:center; line-height:43px; color:#e0cb97; margin: 0px auto; font-size:13px;}
.bottm-back{width:990px; height:97px; background-image:url(/images/bottm-back_01.png); }
.bottm-zy{width:708px; height:23px; text-align:center; line-height:43px; color:#a6876f; margin: 0px auto; font-size:12px; padding-top:10px;}
.bottm-by{width:708px; height:23px; text-align:center; line-height:43px; color:#a6876f; margin: 0px auto; font-size:12px; padding-top:10px;}
/*bottm-end*/
/*欢迎登录-开始*/
.denglu-go-back{width:224px; height:314px; background-image:url(/images/denglu-back.png); float:right;}
.denglu-go-input-box{width:194px; height:34px; margin: 0px auto; margin-top:17px;border:0px; color:#e8cda3; font-size:14px;}
.denglu-go-input-box-1{width:194px; height:34px; margin: 0px auto;border:0px; color:#e8cda3; font-size:14px;}
.denglu-go-input{width:194px; height:34px; background-image:url(/images/in-back.png);  border:0px; color:#826844; line-height:34px;}
.denglu-go-pt{width:186px; height:65px; margin: 0px auto; margin-top:9px;}
/*欢迎登录-结束*/
