@Scripts.Render("~/Scripts/jscal2")
@Scripts.Render("~/Scripts/pageination")

<div class="cm-right">
    <div class="cm-title-back"><img src="/images/TranRecord-title.png" /></div>
    <!--修改登录密码-开始-->
    <div class="cm-back">
        <div class="tablediv">
            <table width="100%" border="0" id="reportGrid_table" class="tablewithborder" cellspacing="1" cellpadding="0">
                <thead>
                    <tr>
                        <td height="40" colspan="7" bgcolor="#f2efa9" style="text-align:center">
                            <table width="550" border="0" align="center" style="text-align:center; margin-left:50px;">
                                <tr>
                                    <td>时间 从：</td>
                                    <td><input id="reportGrid_filter_recharge_at_from" type="text" value="" class="width80" /></td>
                                    <td><img id="reportGrid_filter_recharge_at_from_trigger" width="14" height="14" src="/images/grid-cal.gif"></td>
                                    <td>至：</td>
                                    <td><input id="reportGrid_filter_recharge_at_to" type="text" value="" class="width80" /></td>
                                    <td><img id="reportGrid_filter_recharge_at_to_trigger" width="14" height="14" src="/images/grid-cal.gif"></td>
                                    <td><input tabindex="3" class="submit" type="button" onclick="pData()" value="搜索"></td>
                                    <td><input tabindex="3" class="submit" type="button" onclick="pData(true)" value="显示所有"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 140px;">订单编号</td>
                        <td height="40" style="text-align: center; width: 80px;">交易金币</td>
                        <td style="text-align: center; width: 80px;">手续费</td>
                        <td style="text-align: center; width: 80px;">应得金额</td>
                        <td style="text-align: center; width: 100px;">交易发布时间</td>
                        <td style="text-align: center; width: 80px;">交易状态</td>
                        <td style="text-align: center; width: 110px;">备注</td>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td style="text-align:center" id="pager" height="40" bgcolor="#f2efa9" colspan="7"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="cm-bottom"><img src="/images/cm-bottom.png" /></div>
    <!--修改登录密码-结束-->
</div>
<!---center-right开始-->
<!----foot开始-->
<div class="contact_foot_back"></div>
<!----foot结束-->
<script type="text/javascript">
    //<![CDATA[
    Calendar.setup({
        inputField: "reportGrid_filter_recharge_at_from",
        trigger: "reportGrid_filter_recharge_at_from_trigger",
        dateFormat: "%Y-%m-%d",
        showTime: false,
        onSelect: function () {
            this.hide();
        }
    });
    Calendar.setup({
        inputField: "reportGrid_filter_recharge_at_to",
        trigger: "reportGrid_filter_recharge_at_to_trigger",
        dateFormat: "%Y-%m-%d",
        showTime: false,
        onSelect: function () {
            this.hide();
        }
    });
    //]]>
</script>
<script type="text/javascript">
    var _p = new page($("#pager"));
    var sTimeObj = $("#reportGrid_filter_recharge_at_from").SetDefaultDate();
    var eTimeObj = $("#reportGrid_filter_recharge_at_to").SetDefaultDate();
    function pData(isall) {
        $.SendDataSync("GetAgentTranRecord", { currPage: _p.pageIndex(), pageSize: _p.pageSize(), sTime: isall ? "" : sTimeObj.val(), eTime: isall ? "" : eTimeObj.val(), pType: $("#reportGrid_filter_mode").val() }, function (data) {
            _p.Bind(data, pData, "reportGrid_table", isall);
            if (data.Counts == 0) {
                $("#reportGrid_table").children("tbody").html('<tr><td style="text-align:center;height:40px" colspan="7" bgcolor="#f7f5c2">当前记录集为空。</td></tr>');
            }
            else {
                var dataHTML = new String();
                $.each(data.DataList, function (i, d) {
                    dataHTML += '<tr align="center"><td style="text-align:center;" bgcolor="#f7f5c2">' + d.OrderId + '</td><td height="40" bgcolor="#f7f5c2" style="text-align:center;">' + d.TradeGold + '</td><td style="text-align:center;" bgcolor="#f7f5c2">' + d.Fee + '</td><td style="text-align:center;" bgcolor="#f7f5c2">' + d.CanGetMoney + '</td><td style="text-align:center;" bgcolor="#f7f5c2">' + d.PostTime + '</td><td style="text-align:center;" bgcolor="#f7f5c2">' + d.Status + '</td><td style="text-align:center;"  bgcolor="#f7f5c2">' + d.Memo + '</td></tr>';
                });
                $("#reportGrid_table").children("tbody").html(dataHTML);
                //<td style="text-align:center;" width="100" height="40" bgcolor="#f7e4e2">' + d.GoldSell + '</td>
            }
        });
    }
    (function () {
        pData();
    })();
</script>