@{
    ViewBag.Title = "存款帮助";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}
@section styles{
    <link href="/Content/phone-game.css" rel="stylesheet" type="text/css" media="all">
}
<!---contact-right开始-->
<div class="down_right_box">
    <div class="down_right_top">
        <div class="down_right_weizhi">当前所在位置>>存款帮助</div>
    </div>
    <!---center开始-->
    <div class="down_center_box">
       <p class="phone-game-txt">您现在可以通过以下方式存款给新葡京棋牌</p>
       <p class="phone-game-txt">会员登入后点选"个人中心"</p>
      <div class="phone-game-img"> <img src="../../Images/cun-1.png" /></div>
       <p class="phone-game-txt">选择"账户充值"，然后可以通过如下方式进行存款，支付成功，额度将立即加入您的新葡京棋牌会员帐户。如有任何问题，请您联系24小时线上客服。</p>
       <div class="phone-game-img"> <img src="../../Images/cun-2.png" /></div>
       <p class="phone-game-txt"><font color="#FFCC33">1.	在线充值</font></p>
       <p class="phone-game-txt">输入充值金额，点击确认充值即可。并请确实选择存款银行 ，如有任何问题，请与新葡京棋牌客服第一时间取得联系。</p>
      <div class="phone-game-img"> <img src="../../Images/cun-3.png" /></div>
      <p class="phone-game-txt"><font color="#FFCC33">2.	公司入款</font></p>
      <p class="phone-game-txt">输入充值金额，选择汇款银行和汇款方式，填写持卡人姓名，选择汇款时间和汇款地点，点击确认提交即可。如有任何问题，请与新葡京棋牌客服第一时间取得联系。</p>
       <div class="phone-game-img"> <img src="../../Images/cun-4.png" /></div>
       <p class="phone-game-txt"><font color="#FFCC33">3.	充值卡</font></p>
      <p class="phone-game-txt">选择您购买的充值卡类型，输入卡号和卡密码，选择充值金额，点击确认充值即可。如有任何问题，请与新葡京棋牌客服第一时间取得联系。</p>
       <div class="phone-game-img"> <img src="../../Images/cun-5.png" /></div>
        <p class="phone-game-txt"><font color="#FFCC33">4.	新葡京黄金卡</font></p>
      <p class="phone-game-txt">输入卡号和卡密码，点击确认充值即可。如有任何问题，请与新葡京棋牌客服第一时间取得联系。</p>
       <div class="phone-game-img"> <img src="../../Images/cun-6.png" /></div>


    </div>
    <!---center-right开始-->
    <!----foot开始-->
    <div class="contact_foot_back"></div>
    <!----foot结束-->
</div>
<!---contact-right结束-->