@{
    ViewBag.Title = "新闻公告";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/down.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/new.css" media="all" />
    <link href="~/Scripts/pagination.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.pagination.js"></script>
    <script>
        var pageIndex = 0;     //页面索引初始值
        var pageSize = 15;     //每页显示条数初始化，修改显示条数，修改这里即可
        var totalNumber = @ViewBag.NewsCounts;
        $(function () {
            $("#Pagination").pagination(totalNumber, {
                callback: PageCallback,  //PageCallback() 为翻页调用次函数。
                prev_text: "« 上一页",
                next_text: "下一页 »",
                items_per_page: pageSize,
                num_edge_entries: 2,       //两侧首尾分页条目数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
            });

        });
        function PageCallback(index, jq) {
            InitTable(index);
        }

        //请求数据
        function InitTable(pageIndex) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/AjaxService/GetNewsList',
                data: "currPage=" + (pageIndex+1) + "&pageSize=" + pageSize,
                success: function (data) {
                    var dataList = data.DataList;
                    var htmlList = "";
                    for (var i = 0; i < dataList.length;i++) {
                        if(dataList[i].TypeId==4){
                            htmlList += "<div class='news-1'><div class='news-biaoti-3'>公告</div><div class='news-txt'><a href='/News/Detail?id="+dataList[i].Id+"' target='_blank'>" + dataList[i].Title+ "</a></div><div class='news-data'>"+dataList[i].CreateTime+"</div></div>";
                        }
                        else{
                            htmlList += "<div class='news-1'><div class='news-biaoti-1'>新闻</div><div class='news-txt'><a href='/News/Detail?id="+dataList[i].Id+"' target='_blank'>" + dataList[i].Title+ "</a></div><div class='news-data'>"+dataList[i].CreateTime+"</div></div>";
                        }
                    }
                    $("#pNewsList").html(htmlList);

                }
            });
        }
    </script>
}


<!--down-star-->
<div class="news-title">
    <div class="title-txt"><img src="images/news-title.png" /></div>
</div>
<div class="news-back">
    <div class="news-kong"></div>
    <div id="pNewsList">
    </div>
    <div class="Page pagination" id="Pagination"></div>

</div>

<!--down-end-->