@{
    ViewBag.Title = "用户注册协议";

}

@section styles{
    <link href="/content/activity.css" rel="stylesheet" type="text/css" media="all">
    <style>
        .clause{
            width:870px;
            color:white;
            margin:0 auto;
            line-height:26px;
        }
        h1 {
            margin: 0 0 5px;
            line-height: 1.35;
            color: white;
            font-size: 20px;
            font-weight: bold;
        }
        .sub-title {
            clear: both;
            padding: 20px 0 0;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 6px;
            color: white;
        }
    </style>
}
<!--activity开始-->
<div class="activity_box">
    <div class="activity_top_box">
        <div class="activity_top_weizhi">当前所在位置>>注册协议</div>
        <div class="activity_center_box">
            <div class="clause">
                <h1>用户服务条款</h1>
                <p class="sub-title">
                    一、规则及条款
                </p>
                <p>
                    以下是管辖使用本网站的规则及条款。所有客户在网站上的行为必须遵从以下网站所制定的规则：本公司是合法互联网路交易机构，现提醒有意参与本公司所有游戏的玩家 ，应注意其国家或居住地区的相关法律规定，如有疑问，应就相关问题寻求当地法律意见。
                </p>
                <p>
                    <ul>
                        <li>
                            1、用户在进行游戏前应核实其所在地区进行线上游戏是否符合当地法律。
                        </li>
                        <li>
                            2、本网站只向符合法定年龄的用户提供服务，用户须注意其居住地区的法律年龄限制，在不违反年龄限制之下才可使用本网站服务。
                        </li>
                        <li>
                            3、本公司将不承担任何用户因违反当地相关法律而引起之任何责任。
                        </li>
                        <li>
                            4、任何用户在参与本公司所有游戏而引起导致违反当地法律之任何责任，本公司概不负责。
                        </li>
                        <li>
                            5、用户有义务保障本身的用户名称和密码的隐私安全，并且不应允许任何第三方以任何形式，通过该用户名称和密码使用本网站之所有游戏，否则，一切责任需由该用户全部承担。
                        </li>
                        <li>
                            6、安装、使用或参与本软件所有游戏之用户，均被视为符合该用户当地之法定年龄，以及该用户完全明白并且同意本协议之内容。
                        </li>
                        <li>
                            7、本网站有权拒绝或不接受任何用户以任何不正当方式登入或参与本网站所有游戏之权利。
                        </li>
                        <li>
                            8、因人为或系统发生不能预测因素所导致的失误，本公司管理层保留最终之决定权。
                        </li>
                        <li>
                            9、因发生不可抗力的灾害和人为入侵破坏行为，所造成的网站故障或资料损坏等情况，以本网站最终数据为最后的处理数据，所以各会员应尽量保留或列印资料，本网站才接受跟进投诉。
                        </li>
                        <li>
                            10、为避免任何争议，各用户在参与本网站所有游戏过程中或在结束游戏前，务必检查该会员资料，如发现任何异常情况，应立即与我们客服联系查证，否则该用户将被视为同意并且接受：用户一切数据或历史数据，以本公司资料库中的资料为准，用户不得异议。
                        </li>
                        <li>
                            11、因人为而导致的发牌错误
                        </li>
                        <li>
                            &nbsp;&nbsp;如：
                        </li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;1) 发牌方向或次序错误。
                        </li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;2) 不正确之显示或结果(此情况会发生于发牌时连发两张或以上的牌)。本公司会按照正常的“牌理”和次序还原至正确的结果，一切结果将按还原至正确的结果计算。
                        </li>
                    </ul>
                <p></p>
                <p>
                    各玩家请注意，敬请各玩家以每局的真实影像的牌局结果作准，路纸结果有时候会因为网路接收信号或各公司的数据库和伺服器维护而出现差异，所以只供参考，不能
                    作准，如有问题，欢迎申请该局的重播，以示公正。
                </p>

                <p class="sub-title">
                    二、用户服务条款
                </p>
                <ul>
                    <li>
                        1、游戏的所有权、版权、维护权归所有。提供的各项服务必须按照游戏发布的服务条款、基本法、规章制度严格执行。会员在点击“我同意”的按钮并完成注册后，表明会员与游戏 达成协议并接受所有的服务条款。
                    </li>
                    <li>
                        2、游戏尊重您的个人隐私。所以，作为对以上第三点个人注册资料分析的补充，游戏 一定不会公开、编辑或透露您注册资料及保存在游戏中的非公开内容，除非有法律许可要求。
                    </li>
                    <li>
                        3、您明确同意游戏服务的使用由您个人承担风险。服务提供是建立免费基础上。游戏 明确表示不提供任何类型的担保，不论是明确的或隐含的，但是不对商业性的隐含担保，特定目的和不违反规定的适当担保作限制。游戏 不担保服务一定能满足会员的要求，也不担保服务不会受中断，对服务的及时性，安全性，出错发生都不作担保。游戏拒绝提供任何担保，包括信息能否准确，及时，顺利的传送。您可以理解并接受任何信息资料，这些取决于您自己并由其承担系统受损或资料丢失的所有风险和责任。
                    </li>
                    <li>
                        <b>(一)、你的权利</b>
                    </li>
                    <li>
                        1、一旦注册成功成为游戏会员，将得到一个用户名和密码。如果不保管好自己的用户名和密码安全，将负全部责任。另外，每个会员都要对其帐户中的所有活动和事件负全责。会员若发现任何非法使用会员帐号或安全漏洞的情况，立即通告游戏 。
                    </li>
                    <li>
                        2、会员可以享有游戏提供的基本功能服务。
                    </li>
                    <li>
                        3、游戏可随时根据实际情况中断服务。游戏无需对任何个人或第三方负责而随时中断服务。会员若反对任何服务条款的建议或对后来的条款修改有异议，或对游戏服务不满，会员只有以下的追索权：
                    </li>
                    <li>
                        &nbsp;&nbsp;(1)不再使用游戏服务。
                    </li>
                    <li>
                        &nbsp;&nbsp;(2)结束会员使用游戏服务的资格。
                    </li>
                    <li>
                        &nbsp;&nbsp;(3)通告游戏停止该会员的服务。结束服务后，会员使用游戏服务的权利马上中止。从那时起，游戏不再对会员承担任何义务。
                    </li>
                    <li>
                        <b>(二)、您的义务</b>
                    </li>
                    <li>
                        1、您在享用游戏服务的同时，同意接受游戏提供的各类信息服务。
                    </li>
                    <li>
                        2、游戏会在必要时修改服务条款，游戏服务条款一旦发生变动，网站将会及时通知会员。您要继续使用游戏网上城市服务需要两方面的确认：
                    </li>
                    <li>
                        &nbsp;&nbsp;(1)首先确认游戏网上城市服务条款及其变动。
                    </li>
                    <li>
                        &nbsp;&nbsp;(2)同意接受所有的服务条款限制。
                    </li>
                    <li>
                        3、您单独承担所发布信息内容的责任。您对服务的使用是根据所有适用于社区服务的地方法律、国家法律和国际法律标准的。不过您可要遵循：
                    </li>
                    <li>
                        &nbsp;&nbsp;(1)发布信息时必须中华人民共和国的各项有关法律法规，遵守网上一般道德及规范。
                    </li>
                    <li>
                        &nbsp;&nbsp;(2)不得发布任何宣扬不符合国家法律规定的信息内容。
                    </li>
                    <li>
                        &nbsp;&nbsp;(3)不得发布任何带有漫骂、辱骂以及包含人身攻击等会产生不良后果的信息内容。
                    </li>
                    <li>
                        &nbsp;&nbsp;(4)不得利用游戏散布广告以及其它商业化的宣传。
                    </li>
                    <li>
                        &nbsp;&nbsp;(5)承担一切因不当行为而直接或间接导致的民事或刑事法律责任。
                    </li>
                    <li>
                        &nbsp;&nbsp;(6)不干扰或混乱游戏网络服务。
                    </li>
                    <li>
                        <b>(三)、不论在任何情况下，本公司之决定权乃最终之决定权。 本人清楚及同意以上所有之使用条文及细则。 </b>
                    </li>
                </ul>
                <br>
            </div><!-- clause -->
        </div>
        <!--center-结束-->
        <div class="activity_foot"></div>

    </div>
</div>
<!--activity结束-->