@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @if (IsSectionDefined("styles"))
    {
        @RenderSection("styles")
    }
}
@section scripts {
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts")
    }
}




<!--box开始-->
<div class="down-box">
    <!--banner-开始-->
    <div class="banner-down">
        <!--nav-开始-->
        @Html.Partial("_Nav")
        <!--nav-结束-->
    </div>
    <!--banner-结束-->
</div>
<!--box-结束-->
@RenderBody()


