@{
    ViewBag.Title = "招募代理";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/content/down.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/new.css" media="all" />
}



<!--new-detailed-star-->
<div class="news-title">
    <div class="title-txt"><img src="/images/tuiguang.png" /></div>
</div>
<div class="new-detailde-box">
    <div class="new-detailde-txt">

        <div class="new-detailde-Content">
            <p class="Customer-service-txt">
                欢迎您关注澳众，期待您加盟棋牌代理，请先将以下内容阅读完毕：<br />

                1.代理介绍:<br />
                加入代理无需任何费用,联系客服即可办理，零风险就可以获得丰厚利润.无论您是否拥有自己的网站您都可以推广，您只需复制广告链接到各网站、论 坛、博客、QQ群、msn群,您就可以坐享推广带来的丰富利润 . 您发布的广告越多,您推荐的人就越多，您的赢利越多.当您成为我们代理后，我们会给你一个专用2级域名推广 ，当玩家在你推广的域名注册后，即成为你的下线玩家，并进入后台统计，您可在后台查询您玩家等登陆情况及您得到的分红。
                <br />
                2.推广方式:<br />
                1>成为澳众棋牌平台的代理后，我们会附送给你一个和本站一样的专用推广代理网站，同时您可以申请专用的代理客户端，目前棋牌界独此一家， 加盟代理，也意味着您自己也开了棋牌平台；
                <br />
                2>强大的代理后台管理，账目、会员等情况一目了然；您可以自己 发展属于您的代理，无限发展下级代理，让您坐享提成，您的下级代理越多， 您的玩家就会越多，您的收益也会越丰富；
                <br />
                3>采用先进程序系统，安全性高，您无需承担任何风险。
                <br />
                3.加盟我们的优势<br />
                为了让代理获得更多的利益，更大的发展空间。本公司秉承宁缺勿滥的风格，控制代理的数量。只会开少量的代理，名额满了只会即停止接受代理加盟 。要求是，有责任心，熟知网络棋牌推广道路，有一定的推广经验。积极维护公司名声利益。对于损坏公司名誉，乱捣乱的代理我们会采取降低代理制度，严重者撤销代理资 格，永不录用！ 网吧、站长、其他场所合作，关于网吧和其他场所推广我们也有一套相应配套方案，让您安心赚钱，放心推广!宜请联系在线客服为您解答，同时也欢迎您提 出更好的合作方式及宝贵意见。
                <br />

            </p>
        </div>
    </div>
</div>
<div class="new-bottom"><img src="/images/new-bottom.png" /></div>

<!--new-detailed-end-->
