@{
    ViewBag.Title = "葡京手游";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}
@section styles{
    <link href="/Content/phone-game.css" rel="stylesheet" type="text/css" media="all">
}
<!---contact-right开始-->
<div class="down_right_box">
    <div class="down_right_top">
        <div class="down_right_weizhi">当前所在位置>>葡京手游</div>
    </div>
    <!---center开始-->
    <div class="down_center_box">
        <div class="phone-game-tu1"><img src="/images/phonegame_tu01.png" /></div>
        <div class="phone-game-load">
            <div class="phone-game-load-left">
                <div class="phone-game-load-left_1"><img src="/images/phonegame-ipad.png" /></div>
                <div class="phone-game-load-left_2"><a href="http://www.pgyer.com/o1rs" target="_blank"><img src="/images/phonegame-load.png" /></a></div>
                <div class="phone-game-load-left_1"><img src="/images/phonegame-Android.png" /></div>
                <div class="phone-game-load-left_2"><a href="http://www.pgyer.com/fYwU" target="_blank"><img src="/images/phonegame-load.png" /></a></div>
            </div>
            <div class="phone-game-load-right"><img src="/images/phonegame-3bu.png" /></div>
        </div>
        <div class="wlcome"></div>
    </div>
    <!---center-right开始-->
    <!----foot开始-->
    <div class="contact_foot_back"></div>
    <!----foot结束-->
</div>
<!---contact-right结束-->