@{
    ViewBag.Title = "活动中心";
    Layout = "~/Views/Shared/_NavLayout.cshtml";

}
@section styles{
    <link rel="stylesheet" type="text/css" href="/content/down.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/activity.css" media="all" />
}
<!--down-star-->
<div class="activity-title">
    <div class="title-txt"><img src="images/activity-title.png" /></div>
</div>
<div class="activity-back">
    <div class="activity-kong"></div>
    <!--<div class="activity-04"><div class="activity-botton"><a href="/Register"></a></div></div>
    <div class="activity-01"><div class="activity-botton"><a href="/ActivityCenter/RechargeAward"></a></div></div>
   
    <div class="activity-03"><div class="activity-botton"><a href="/ActivityCenter/SignActivity"></a></div></div>
    <div class="activity-05"><div class="activity-botton"><a href="/ActivityCenter/ShowAwards"></a></div></div>
    <div class="activity-06"><div class="activity-botton"><a href="/ActivityCenter/BindingActive"></a></div></div>
    <div class="activity-07"><div class="activity-botton"><a href="/ActivityCenter/PaiXing"></a></div></div>
    <div class="activity-08"><div class="activity-botton"><a href="/ActivityCenter/TrialActivity"></a></div></div>
    <div class="activity-09"><div class="activity-botton"><a href="/ActivityCenter/DayTask"></a></div></div>-->


    <a href="/Register"><div class="huodong-1"><div class="activity-botton"></div></div></a>
    <a href="/ActivityCenter/RechargeAward"><div class="huodong-2"><div class="activity-botton"></div></div></a>
    <a href="/ActivityCenter/ShowAwards"><div class="huodong-3"><div class="activity-botton"></div></div></a>
    <a href="/ActivityCenter/BindingActive"><div class="huodong-4"><div class="activity-botton"></div></div></a>
    <a href="/ActivityCenter/PaiXing"><div class="huodong-5"><div class="activity-botton"></div></div></a>
    <a href="/ActivityCenter/DayTask"><div class="huodong-6"><div class="activity-botton"></div></div></a>
<div class="activity-dibu"></div>
</div>

<!--down-end-->
