@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>活动中心</title>
    <link rel="stylesheet" type="text/css" href="Content/wap/css.css">
</head>
<body>
    <div class="active">        
        <div class="banner"><a href="Activity_TrialActivity"><img src="/images/activity/022.png" width="100%" /></a></div>
        <div class="banner"><a href="Activity_Sign"><img src="/images/activity/033.png" width="100%" /></a></div>
        <div class="banner"><a href="Activity_DayTask"><img src="/images/activity/044.png" width="100%" /></a></div>
        <div class="banner"><a href="ShowAwards"><img src="/images/activity/055.png" width="100%" /></a></div>
        @*<div class="banner"><a href="Activity_RechargeAward"><img src="/images/activity/06.png" width="100%" /></a></div>*@
        <div class="banner"><a href="PaiXing"><img src="/images/activity/077.png" width="100%" /></a></div>
        <div class="banner"><a href="BindingActive"><img src="/images/activity/088.png" width="100%" /></a></div>
    </div>
</body>
</html>