@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>签到活动</title>
    <link rel="stylesheet" type="text/css" href="/Content/wap/css.css">   
</head>
<body>
    <div class="hd">
        <div class="hd-main">
            <table width="90%" border="0" style="margin-bottom:30px;">
                <tr>
                    <td width="10%"><img src="/images/wap/title_large-red.png" width="100%" /></td>
                    <td width="90%">
                        <span style="font-weight:bold; font-size:16px;">尊敬的 @ViewData["Accounts"] 您好，欢迎您光临！</span><br />            
                    </td>
                </tr>
            </table>
        </div>
        <div class="hd-01">

            <div class="title-main">
                <div class="t1">
                   每日签到送金币，连续签到7天，金币送不停<br /><br />


                    <span style="color:red"> *注明：在每月的签到活动进行时,如果您在当月有一天没有签到并且中断,那么您不会得到满月签到的金币奖励！</span><br />
                </div>
                <div class="t1x"></div>
            </div>
        </div>
    </div>
</body>
</html>
