@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>系统公告</title>
</head>
<body>
    <div id="newsList">
        @Html.Raw(@ViewBag.newContent)
    </div>
</body>
</html>
