@{
    ViewBag.Title = "取款帮助";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}
@section styles{
    <link href="/Content/phone-game.css" rel="stylesheet" type="text/css" media="all">
}
<!---contact-right开始-->
<div class="down_right_box">
    <div class="down_right_top">
        <div class="down_right_weizhi">当前所在位置>>取款帮助</div>
    </div>
    <!---center开始-->
    <div class="down_center_box">
       <p class="phone-game-txt">您现在可以通过以下方式从澳众棋牌进行取款</p>
       <p class="phone-game-txt">会员登入后点选"个人中心"</p>
      <div class="phone-game-img"> <img src="../../Images/qu-1.png" /></div>
       <p class="phone-game-txt">选择"申请兑换"，设置真实的持卡人姓名，开户银行，银行账号，开户网点后就可以通过如下方式进行取款，取款成功，额度将尽快转入您的银行卡，支付宝或者财付通账户。如有任何问题，请您联系24小时线上客服。</p>
       <div class="phone-game-img"> <img src="../../Images/qu-2.png" /></div>
       <div class="phone-game-img"> <img src="../../Images/qu-3.png" /></div>
       <p class="phone-game-txt"><font color="#FFCC33">1.银行卡兑换</font></p>
       <p class="phone-game-txt">输入兑换金额，登录密码和保险柜密码。并点击提交申请即可 。如有任何问题，请与澳众棋牌客服第一时间取得联系。</p>
      <div class="phone-game-img"> <img src="../../Images/qu-4.png" /></div>
      <p class="phone-game-txt"><font color="#FFCC33">2.	支付宝兑换</font></p>
      <p class="phone-game-txt">输入兑换金额，登录密码和保险柜密码，以及支付宝账号，并点击提交申请即可 。如有任何问题，请与澳众棋牌客服第一时间取得联系。</p>
       <div class="phone-game-img"> <img src="../../Images/qu-5.png" /></div>
       <p class="phone-game-txt"><font color="#FFCC33">3.	财付通兑换</font></p>
      <p class="phone-game-txt">输入兑换金额，登录密码和保险柜密码，以及财富通账号，并点击提交申请即可 。如有任何问题，请与澳众棋牌客服第一时间取得联系。</p>
       <div class="phone-game-img"> <img src="../../Images/qu-6.png" /></div>
        

    </div>
    <!---center-right开始-->
    <!----foot开始-->
    <div class="contact_foot_back"></div>
    <!----foot结束-->
</div>
<!---contact-right结束-->