@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>活动中心</title>
    <link rel="stylesheet" type="text/css" href="Content/wap/css.css">
</head>
<body>
    <div class="active">        
        <div class="banner"><a href="Activity_TrialActivity"><img src="/images/active-08.jpg" width="100%" /></a></div>
        <div class="banner"><a href="Activity_Sign"><img src="/images/active-03.png" width="100%" /></a></div>
        <div class="banner"><a href="Activity_DayTask"><img src="/images/active-09.jpg" width="100%" /></a></div>
        <div class="banner"><a href="ShowAwards"><img src="/images/active-05.png" width="100%" /></a></div>
        <div class="banner"><a href="Activity_RechargeAward"><img src="/images/active-01.png" width="100%" /></a></div>
        <div class="banner"><a href="PaiXing"><img src="/images/active-07.jpg" width="100%" /></a></div>
        @*<div class="banner"><a href="BindingActive"><img src="/images/active-06.jpg" width="100%" /></a></div>*@
    </div>
</body>
</html>