@model WebSite_YS.Models.Partial.SaveScore
@using (Ajax.BeginForm("PartialSaveScore", "UserCenter", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "ManagerMain",
            OnSuccess = "ShowMessage"
        }, new { id = "F_SaveScore" }))
        {
<!--login-right-开始-->
<div class="cm-right">
    <div class="cm-title-back"><img src="../../images/Gold-deposit.png" /></div>
    <!--修改登录密码-开始-->
    <div class="cm-back">

        <div class="cm-take-gold">
            <div class="cm-warning"><img src="../../images/warning.png" /></div>
            <div class="cm-txt">将金币存入保险柜。</div>
        </div>
        <div class="cm-row">
            <div class="cm-name">存入金额:</div>
            <div class="cm-shuru"><input class="cm-input" name="amount" id="txt_amount" type="text" /></div>
        </div>
        <div class="cm-row-2">
            <div class="cm-name"></div>
            <div class="cm-shuru"><input type="button" class="cm-button" value="确认存入" onclick="return CheckAmount(this)" /></div>
        </div>
    </div>
    <div class="cm-bottom"><img src="../../images/cm-bottom.png" /></div>
    <!--修改登录密码-结束-->
</div>
<!--login-right-结束-->
}
<!---center-right开始-->
<!----foot开始-->
<div class="contact_foot_back"></div>
<!----foot结束-->
<script>
    function ShowMessage() {
        alert("@Model.EerrorMessage")
    }
    function CheckAmount(button) {
        var _amount = $("#txt_amount").val();
        var re = /^[1-9]+[0-9]*$/;
        if (_amount == "") {
            alert("请填写存入金额。");
            return false;
        }
        else {
            if (isNaN(_amount) || parseInt(_amount) <= 0) {
                alert("请输入一个大于 0 的数字。")
                return false;
            }
            if (!re.test(_amount)) {
                alert("存入金额应为正整数！");
                return false;
            }
        }

        $(button).trigger("submit");
        //return true;
    }
</script>